<div class="bar-container">
  <div class="search-bar-container">
    <input class="search-input"
           type="text"
           placeholder="Search...">
    <span class="search-icon">
      <a href="#"><mat-icon>search</mat-icon></a>
    </span>
  </div>

  <div class="items-container">
    <ul>
      <li >
        <a href="#">
          <mat-icon>phone</mat-icon>
          <span>
            Call us
          </span>
          <mat-icon class="dropdown">expand_more</mat-icon>
        </a>
      </li>
      <li class="dropdown">
        <a href="#">
          <span>
            Company
          </span>
          <mat-icon class="dropdown">expand_more</mat-icon>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/france-flag.png"
               width="15px"
               height="15px" >
          <span>
            Français
          </span>
        </a>
      </li>
      <span class="logo">
        <i>Proudly</i>
      </span>
    </ul>
  </div>
</div>
