@import 'src/app/sass/abstracts/variables.scss';
@import '../sass/abstracts/navbar_mixins';

.top-nav-bar{
  background-color: $accent-color;
  display: flex;
  align-items: center;
  margin: 0 12.8px;
  height:41px;
    .wrap{
    @include wrap;

    @include padding-fix{
      padding: .77% 0;
    }
    .search-input{

      @include input-txt-style;
      max-width: 60%;
    }

      .search-icon{
        color: $primary-color;
        font-weight: bold;
        font-size: 27px;
      }


    ::placeholder{
      color:#fff;
      opacity:.7;
      font-size: 11.8px;
    }


    ul{
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;

      li{
        padding:0 3px;
        font-weight: 590;
        a{
          color:#fff;
          display: flex;
          align-items: center;
          text-decoration: none;
          font-size: 13px;

          mat-icon{
            @include icon
          }
          .phone-icon{
            transform: rotateY(180deg);
          }
          .expand-icon{
            color:$primary-color;
          }
        }

        .logo{
          margin-left: 4px;
          margin-bottom: -3px;
        }

      }
      li a .lang{
        padding-left:5px;
        padding-right: 8px;
      }
      li :hover{
        @include hover;
      }
    }
  }

}

nav{
  margin: 19px 12.8px;
  display: flex;
  align-items: center;
  .wrap{
    @include wrap;

    ul{
      display: flex;
      align-items: center;
      list-style-type: none;
      li{
        padding: 0 5px;

        a{
          display: flex;
          align-items: center;
          text-decoration: none;
          text-transform: uppercase;
          color:$accent-color;
          font-weight: bold;
          font-size: 0.94rem;
          .expand-icon{
            @include icon;
            color: $primary-color;
          }
        }
      }
      li :hover{
        @include hover;
      }

      .book-now{
        background: $primary-color;
        border: 2px solid $primary-color;
        padding: .8rem;
        margin:0 10px;

        a{
          color: #fff;
          .expand-icon{
            @include icon;

          }
        }


      }

      .book-now:hover{
        background-color: #fff;
        transition: .4s;
        a{
          color:$primary-color;
        }
      }

    }
  }

}


.img-container{
  position: relative;
  width:98%;
  box-shadow: 0 6px 12px #dce1e1;
  height:120%;
  margin:70px auto ;
  img{
    display:none;
    width:100%;
    height:601px;
  }
  img.image-active{
     display: flex;

   }

}
.dot-container{
  position: absolute;
  right:0;
  left:0;
  bottom:0;
  display: flex;
  justify-content: center;
  padding:0;
  margin-bottom:  1rem;
  .dot{
    cursor:pointer;
    height:7px;
    width:7px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.6s ease;
    opacity: 0.5;
  }
  .active-dot, .dot:hover{
    opacity:1
  }
}

.btn-carousal{

  position: absolute;
  top:50%;
  bottom:50%;
  mat-icon{
    color:#fff;
    font-size:60px;
    font-weight: bold;
  }
  mat-icon:hover{
    color:$primary-color;
  }
}

.prev-slide{
  left:20px;
}
.next-slide{
  right:40px;
}

.reservation-widget{
  position: absolute;
  right:0;
  left: 0;
  bottom: 0;
  margin-bottom:3rem;
}


